/* src/app/components/loading-screen/loading-screen.component.css */

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #1a202c; /* Koyu gri/mavi bir arka plan */
  color: white;
}

.loading-content {
    text-align: center;
}

.loading-text {
  font-size: 2rem;
  margin-bottom: 20px;
}

.progress-bar-outline {
    width: 300px;
    height: 20px;
    background-color: #2d3748;
    border-radius: 10px;
    border: 1px solid #4a5568;
}

/* İleride bu iç barın genişliğini yükleme yüzdesine göre dinamik olarak değiştireceğiz */
.progress-bar-inline {
    width: 50%; /* Örnek görünüm */
    height: 100%;
    background-color: #4299e1;
    border-radius: 10px;
}